---
type Variant = "default" | "button" | "outline";

interface Props {
  href?: string;
  variant?: Variant;
  class?: string;
}

const {
  href = "#",
  variant = "default",
  class: extraClasses = "",
} = Astro.props as Props;

const base =
  "inline-block font-semibold transition rounded-lg";

const variants: Record<Variant, string> = {
  default: "text-blue-600 hover:text-blue-700",
  button: "bg-[#37A4B3] text-white px-5 py-2 hover:bg-white hover:text-[#313181] hover:border hover:border-[#313181] transition",
  outline:
    "border border-blue-600 text-blue-600 px-5 py-2 hover:bg-blue-600 hover:text-white",
};
---

<a
  href={href}
  class={`${base} ${variants[variant]} ${extraClasses}`}
>
  <slot />
</a>