---
import { Image } from "astro:assets";
import logoTextColored from "../assets/logo/logoTextCMPcolored.svg";
---

<nav class="w-full fixed top-0 left-0 z-50 transition-all duration-300 m-4">
  <div class="max-w-7xl mx-auto px-4 rounded-lg shadow-md backdrop-filter backdrop-blur-lg bg-white/90">
    <div class="w-full grid grid-cols-3 items-center gap-4 h-20 transition-all duration-300">

      <!-- Menu gauche -->
      <ul class="hidden md:flex justify-end space-x-8 text-lg font-medium text-[#313181]">
        <li>
          <a href="/#our-offices" class="hover:text-[#37A4B3] transition">Nos cabinets</a>
        </li>
        <li>
          <a href="/#our-team" class="hover:text-[#37A4B3] transition">Notre équipe</a>
        </li>
      </ul>

      <!-- Logo centré -->
      <a href="/" class="font-bold text-gray-800 h-12 transition-all duration-300 flex items-center justify-self-center">
        <Image 
          src={logoTextColored} 
          alt="Centre Médical Parot" 
          class="h-full w-auto" 
        />
      </a>

      <!-- Menu droite -->
      <ul class="hidden md:flex justify-start space-x-8 text-lg font-medium text-[#313181]">
        <li>
          <a href="/#faq" class="hover:text-[#37A4B3] transition">Vos questions</a>
        </li>
        <li>
          <a href="/contact" class="hover:text-[#37A4B3] transition">Contactez-nous</a>
        </li>
      </ul>
    </div>
    
    <!-- Burger mobile -->
    <button class="md:hidden flex items-center text-3xl">
      ☰
    </button>
  </div>
</nav>