---
import "../styles/global.css"
import Navbar from "@/components/Navbar.astro"
import Hero from "@/components/Hero.astro"
import OurOffices from "@/components/ourOffices.jsx"
import OurTeam from "@/components/OurTeam.astro"
import FAQ from "@/components/FAQ.astro"
import Footer from "@/components/Footer.astro"
import cabinets from "@/data/cabinets.js"
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Centre médical Parot</title>
	</head>
	<body class="bg-[--brand-surface]">
		<Navbar />
		<Hero />
		<OurOffices client:load cabinets={cabinets} />
		<OurTeam />
		<FAQ />
		<Footer />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
